@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.home-grid {
    display: grid;
}


header {
    margin: 1rem auto;
    display: grid;
    display: flex;
    justify-content: space-around;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    
}

.navigation {
	display: flex;
	list-style: none;
    font-size: 30px;
}

.navigation li {
	align-content: center;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: rgb(80, 255, 71);
	
}

:root {
    --color-one:#247BA0;
    --color-two:#E2E2E2;
    --color-three:#0A2463;
    --color-four:#FB3640;
    --color-five:#5e605e;
    --color-six: #000;
    
    --font-one:'Fjalla One', sans-serif;
}

nav {
    color: var(--color-six);
    font-family: var(--font-one);
    text-align: right;
}

body {    
    font-family: var(--font-one);
    
	  
    
}

.hero {
    position: relative; 
    display: block;
    width: 100%;
    height: auto;
    
    
}

.hero img {
    width: 65%;
    height: 25rem;
    margin: 7px 0px 315px 294px;
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
}

.title {
    position: relative;
    height: 70px;
    max-width: 61%;
    right: -19.61%;
    background-color: var(--color-six);
    opacity: 0.8;
    top: -699px;
    border: 30px solid var(--color-six);
}

h1 {
    text-align:center;
    margin: 0 0 0 0;
    color: var(--color-two);
    font-size: 4rem;
}

.happy {
    position: relative;
    height: 200px;
    width: 900px;
    left: 350px;
    top: -890px;
    font-size: 25px;
}

.happy img {
    float: right;
    height: 150px;
    margin: 25px 10px 10px 10px
}

.blue {
    position: relative;
    height: 200px;
    width: 977px;
    left: 294px;
    top: -672px;
    font-size: 1.9rem;
    background-color: var(--color-three);
    opacity: 0.8;
}

.history h2 {
    position: relative;
    top: -900px;
    font-size: 5rem;
    color: var(--color-one)
}

.paragraph-one {
    position: relative;
    top: -950px;
    font-size: 1.8rem;
    color: var(--color-three)
}

.adventure h3 {
    position: relative;
    font-size: 4rem;
    left: 200%;
    top: -990px;
    color: var(--color-one);
    
}

.one {
    width: 15rem;
    position: relative;
    top: -690px;
}

.two {
    width: 15rem;
    position: relative;
    top: -690px;
}

.three {
    width: 15rem;
    position: relative;
    top: -981px;
}

.four {
    width: 15rem;
    position: relative;
    top: -1100px;
}

.four {
    width: 15rem;
    position: relative;
    top: -981px;
}

.five {
    width: 15rem;
    position: relative;
    top: -980px;
}

.one1 {
    position: relative;
    top: -540px;
    right: 9%;
    font-size: 2rem;
    color: var(--color-four);
    text-align: center;
}
.two2 {
    position: relative;
    top: -540px;
    right: 9%;
    font-size: 2rem;
    color: var(--color-four);
}
.three3 {
    position: relative;
    top: -830px;
    right: 10%;
    font-size: 2rem;
    color: var(--color-four);
}
.four4 {
    position: relative;
    top: -830px;
    right: 10%;
    font-size: 2rem;
    color: var(--color-four);
}
.five5 {
    position: relative;
    top: -991px;
    right: 5%;
    font-size: 2rem;
    color: var(--color-four);
}

.copyright {
    font-size: 2rem;
    position: relative;
    margin: -800px 0px 20px 200px;
}

.facebook {
    width: 200px;
    margin: 0px 0px 0px 880px;
}
.instagram {
    max-width: 200px;
    margin: 0px 0px 0px 0px;
}
.twitter {
    max-width: 200px;
    margin: 0px 0px 0px 0px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}

h2 {
    text-align: center;
}

.information {
    display: grid;
    justify-content: center;
}

footer, p{
    display: grid;
    justify-content: center;
}

.facebook1 {
    width: 3em;

}
.instagram1 {
    width: 3em;
}
.twitter1 {
    width: 3em;   
}

.left, p{
    display: grid;
    justify-content: left;
}
form {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background:darkcyan;
    display: grid;
}

label {
    text-align: left;
    padding-left: 1rem;
    
}


button {
    margin: 1rem;
    background-color:orange;
    color:black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color:aqua;
}
.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employees1 {
    width: 15em;
}

.employees2 {
    width: 15em;
}

.employees3 {
    width: 13.9em;
}
.employeesimages2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employees4 {
    width: 15em;
}

.employees5 {
    width: 15em;
}