@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --color-one:#247BA0;
    --color-two:#E2E2E2;
    --color-three:#0A2463;
    --color-four:#FB3640;
    --color-five:#5e605e;
    --color-six: #000;
    
    --font-one:'Fjalla One', sans-serif;
}

nav {
    color: var(--color-six);
    font-family: var(--font-one);
}

body {    
    font-family: var(--font-one);
    max-width: 70rem;
	margin: 2rem auto;  
    
}

.hero {
    position: relative; 
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    margin: 7px 0px 30px 0px;
    
}

.title {
    position: relative;
    height: 70px;
    max-width: 100%;
    background-color: var(--color-six);
    opacity: 0.8;
    top: -699px;
    border: 30px solid var(--color-six);
}

h1 {
    text-align:center;
    margin: 0 0 0 0;
    color: var(--color-two);
    font-size: 4rem;
}

.happy {
    position: relative;
    height: 200px;
    width: 1050px;
    left: 36px;
    top: -880px;
    font-size: 1.9rem;
}

.happy img {
    float: right;
    height: 150px;
    margin: 25px 10px 10px 10px
}

.blue {
    position: relative;
    height: 200px;
    width: 1060px;
    left: 30px;
    top: -650px;
    font-size: 1.9rem;
    background-color: var(--color-three);
    opacity: 0.8; 
}

.history h2 {
    position: relative;
    top: -650px;
    font-size: 5rem;
    color: var(--color-one)
}

.paragraph-one {
    position: relative;
    top: -680px;
    font-size: 1.8rem;
    color: var(--color-three)
}

.adventure h2 {
    position: relative;
    font-size: 5rem;
    top: -690px;
    color: var(--color-one);
}

.one {
    width: 60rem;
    position: relative;
    top: -690px;
}

.two {
    width: 60rem;
    position: relative;
    top: -760px;
}

.three {
    width: 60rem;
    position: relative;
    top: -830px;
}

.four {
    width: 60rem;
    position: relative;
    top: -1100px;
}

.four {
    width: 60rem;
    position: relative;
    top: -900px;
}

.five {
    width: 60rem;
    position: relative;
    top: -950px;
}

.one1 {
    position: relative;
    top: -730px;
    font-size: 3rem;
    color: var(--color-four);
}
.two2 {
    position: relative;
    top: -800px;
    font-size: 3rem;
    color: var(--color-four);
}
.three3 {
    position: relative;
    top: -870px;
    font-size: 3rem;
    color: var(--color-four);
}
.four4 {
    position: relative;
    top: -930px;
    font-size: 3rem;
    color: var(--color-four);
}
.five5 {
    position: relative;
    top: -990px;
    font-size: 3rem;
    color: var(--color-four);
}

.copyright {
    font-size: 3rem;
    position: relative;
    margin: -1000px 0 20px 0;
}

.facebook {
    max-width: 200px;
}
.instagram {
    max-width: 200px;
}
.twitter {
    max-width: 200px;
}