@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
    color: #333;
    background: #fff;
}
h1 {
    padding-left: 10.3%;
}

header {
    margin: 0 auto;
    width: 650px;
}

form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background:coral;
    display: grid;
}

label {
    text-align: left;
    padding-left: 1rem;
}

textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color:orange;
    color:black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: orangered;
}

img {
    display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 0px 0px 20px 0px
}